<app-header></app-header>
<app-side-nav [display]="false"></app-side-nav>
<div class=" py-4">
  <div class="container br12 border_1 py-5 px-4">
    <span class="deepBlue f24 poppinsSemiBold">Edit profile</span>
    <p class="f14 greyColor poppinsRegular pt-3">Your profile will be displayed publicly so be careful what you share
    <p class="f16 deepBlue poppinsRegular">Cover</p>
    <div class="row coverImg align-items-end">
      <div class="col-lg-3">
        <div class="col-lg-3 profileImg">
          <img src="../../../../assets/images/imgs/Ellipse 1097.png" alt="">
        </div>
      </div>
      <div class="col-lg-9 pt-5">
        ggggg
      </div>
    </div>
    <!-- <div class="coverImg position-relative">
      <div class="col-lg-3 profileImg">
        <img src="../../../../assets/images/imgs/Ellipse 1097.png" alt="">

      </div>
      <div class="col-lg-9 position-relative">
        ffffffffffff
      </div>
    </div> -->
  </div>
</div>
