.coverImg {
  height: 225px;
  background-image: url(../../../../assets/images/backgrounds/Rectangle39897.svg);
  border-radius: 12px 12px 0 0;
  background-repeat: no-repeat;
}

.profileImg {
  position: absolute;
  transform: translate(15%, 50%);
  bottom: 0%;
  left: 0;
}
